<html>
<head>
    <link rel="stylesheet" href="/site-media/test.css" type="text/css" media="print" />
    <script src="http://cdn.jquerytools.org/1.1.2/jquery.tools.min.js"></script>
	<script src="/site-media/src/adaptors/LawnchairAdaptorHelpers.js" type="text/javascript" charset="utf-8"></script>
	<script src="/site-media/src/adaptors/WebkitSQLiteAdaptor.js" type="text/javascript" charset="utf-8"></script>
	<script src="/site-media/src/Lawnchair.js" type="text/javascript"></script>
    <script src="/todo/lawnchair/js/django-lawnchair.js" type="text/javascript"></script>
    <script src="/todo/js/example.js" type="text/javascript"></script>

</head>
<body>
    <table id="table">
        <thead>
            <tr>
                <th>Text</th>
                <th>Done</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <input type="submit" id="save" value="save" />
    <input type="submit" id="sync" value="sync" />
    <input type="submit" id="reset" value="reset" />   
    <div id="log"></div>
</body>
</html>